<h1> My Jupyter Notebook on IBM Watson Studio.</h1>

<strong>Juan Escobar Fabiani</strong>

<i>I am interested in data science because stimulates my creativity</i>

<h3>The following code will display the first 10 numbers </h3>

In [14]:
for n in range(1,11):
    print(n**1)

1
2
3
4
5
6
7
8
9
10

* One (Uno)
* Two (Dos)
* Three (Tres)

<table>
<thead>
<tr><th>Column 1</th><th>Column 2</th><th>Column 3</th></tr>
</thead>
<tbody>
<tr><td>1</td><td>2</td><td>3</td></tr>
<tr><td><em>One</em></td><td><strong>Two</strong></td><td><u>Three</u></td></tr>
</tbody>
</table>

[IBM](http://www.ibm.com)